// http://www.colourlovers.com/web/trends/websites/7857/Box
$darkblue: #3c8dc5
$blue: #6fb7e9
$lightblue: #b2d1e5
$lighterblue: #e9f2f9

.container
  font:
    family: sans-serif

h1
  span.status
    color: red

=rounded-corners($amount)
  border-radius: $amount
  -moz-border-radius: $amount
  -webkit-border-radius: $amount

.playlist

  .entries
    float: left
    margin-right: 10px
    padding: 5px
    background-color: $lighterblue
    width: 240px
    border: 1px solid $lightblue
    +rounded-corners(3px)

    .entry
      background-color: $blue
      border-top: 1px solid $lightblue
      border-bottom: 3px solid $darkblue
      margin-bottom: 3px
      padding: 2px 5px 0px
      +rounded-corners(3px)

      .position
        font-weight: bold
      .current_song
        font-size: 0.7em
        font-style: italic
